<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect("http://localhost:5001");
                var userid = "";

                $('form#buy').submit(function(event) {
                    console.log($('#bPrice').val());
                    console.log($('#bNumber').val());
                    if (userid != "") {
                        socket.emit('buy', {"Price": $('#sPrice').val(), "Amount": $('#sNumber').val(), "Type": "B", "User": userid});
                        $('#bPrice').val('')
                        $('#bNumber').val('')
                    }

                    return false;
                });

                $('form#sell').submit(function(event) {
                    console.log($('#sPrice').val());
                    console.log($('#sNumber').val());
                    if (userid != "") {
                        socket.emit('sell', {"Price": $('#sPrice').val(), "Amount": $('#sNumber').val(), "Type": "S", "User": userid});
                        $('#bPrice').val('')
                        $('#bNumber').val('')
                    }
                    return false;
                });

                $('form#createUser').submit(function(event) {
                    socket.emit('newuser', '');
                    return false;
                });

                $('form#login').submit(function(event) {
                    socket.emit('loginuser', $('#loginUser').val());
                    return false;
                });

                socket.on('loginsuccess', function(data) {
                    userid = data
                    $('#usergreeter').text("Hello user " + data)
                    $('#login').hide()
                    $('#createUser').hide()
                });

                socket.on('loginfail', function(data) {
                    alert("Invalid user ID")
                });

                socket.on('usercreated', function(data) {
                    userid = data
                    $('#usergreeter').text("Hello user " + data)
                    $('#login').hide()
                    $('#createUser').hide()
                });
            });
        </script>
    </head>
    <body>

    <h1>Coin Exchange</h1>

    <div id="loginarea" style="border-style: solid; padding: 10px 10px 10px 10px;">
        <h2 id="usergreeter">You are not logged in</h2>
        <form id="login" method="POST" action='#' onsubmit="return false">
            User ID: <input type="text" step="0.01" id="loginUser"><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <form id="createUser" method="POST" action='#' onsubmit="return false">
            Create a new user: <input type="submit" value="Create User">
        </form>
    </div>


    <div id="orders" style="border-style: solid; padding: 10px 10px 10px 10px;">
        <h3>Buy</h3>
        <form id="buy" method="POST" action='#' onsubmit="return false">
        At Price: <input type="text" step="0.01" id="bPrice"><br>
        Number: <input type="text" id="bNumber"><br>
        <input type="submit" value="Buy" id="buysubmit">
        </form>

        <h3>Sell</h3>
        <form id="sell" method="POST" action='#'>
        At Price: <input type="text" step="0.01" id="sPrice"><br>
        Number: <input type="text" id="sNumber"><br>
        <input type="submit" value="Sell" id="sellsubmit">
        </form>
    </div>

    <div>

    </div>

    </body>
</html>